<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />
<body>
<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>
    <form role="form" action="/analyze" th:object="${requestDto}" method="post">
        <div class="form-group">
        <label th:for="from">언제부터</label>
        <input type="number" th:field="*{from}" class="form-control">
        </div>
        <div class="form-group">
            <label th:for="to">언제까지</label>
            <input type="number" th:field="*{to}" class="form-control">
        </div>
        <div class="form-group">
            <label th:for="competitionRate">최소 기관경쟁률</label>
            <input type="number" th:field="*{competitionRate}" class="form-control">
        </div>
        <div class="form-group">
            <label th:for="lockupRate">최소 의무보유확약비율</label>
            <input type="number" th:field="*{lockupRate}" class="form-control">
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="~{fragments/footer :: footer}" />
</div> <!-- /container -->
</body>
</html>